h1,
p {
  font-family: Lato;
}

input,
select {
  margin: 0 8px 0 8px;
}

textarea[readOnly] {
  color: grey;
}

.input-group {
  margin: 16px;
}

.input-group.radio {
  display: flex;
}
.input-group.radio p {
  margin: 0 8px 0 8px;
}
